body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

/* tablets and desktops */
@media screen and (min-width: 1024px) {
  .main-container {
    margin: auto;
    width: 50%;
  }
}

table {
  text-align: center;
  width: 90%;
  border-collapse: collapse;
  border-radius: 10px;
  table-layout: fixed;
}

table th {
  background-color: #ddd;
  font-size: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* CSS needs a proper way to round table corners lol */
.end-screen th:nth-child(1) {
  border-top-right-radius: 0;
}

.end-screen th:nth-child(2) {
  border-radius: 0;
}

.end-screen th:nth-child(3) {
  border-top-left-radius: 0;
}

/* table thead tr th:first th:last {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
} */

.end-screen td:first-child {
  font-weight: 700
}

table, th, td {
  background-color: #eee;
  padding: 10px;
  font-size: 18px;
}

table td {
  border-radius: 10px;
}


button {
  background-color: #333;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

.pencil {
  background-color: #ddd;
}

button:disabled{
  cursor: not-allowed;
  opacity: 10%;
}

.action-button {
  font-size: 20px;
  padding: 10px 20px;
  margin-top:20px;
}

.share-game, .guess {
  margin: 12px 0;
  width: 60%;
  display: flex;
}

input {
  flex: 1;
  width:100%;
  text-align: center;
  border-radius: 10px;
  border-width: 1px;
}

.share-game button, .guess-button {
  margin-left: 5px;
  font-size: 12px;
  padding: 10px 20px;
}

h1 {
  font-size: 4em;
  margin: 0 0 12px 0;
}

.countdown-timer {
  width: 220px;
  text-align: left;
}

.scrabble {
  width:90%;
    flex-wrap: wrap;
    margin: 16px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scrabble div {
  align-items: center;
  background-color: #333;
  border-radius: 10px;
  color: #fff;
  display: flex;
  font-size: 24px;
  font-weight: 700;
  height: 56px;
  justify-content: center;
  margin: 8px;
  width: 56px;
}

@keyframes flash {
  from {
    color: red;
  }
  to {
    color: black;
  }
}

/* Apply the animation to the text */
.flash-red {
  animation-name: flash;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}


/* error */

.wrong-answer {
  border: 2px solid red;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-10px);
  }
  20% {
    transform: translateX(10px);
  }
  30% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(10px);
  }
  70% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  90% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

/* @tailwind base;
@tailwind components;
@tailwind utilities; */